In [1]:
#2.2
width = 30
height = 60
print(width)
print(height)

30
60

In [8]:
#2.5
a = int(input('정사각형의 밑변을 입력하시오 : '))
area = a * a
print('정사각형의 면적 :',area)

정사각형의 밑변을 입력하시오 : 40
정사각형의 면적 : 1600

In [9]:
#2.6
print('1에서 10까지의 합 :',1+2+3+4+5+6+7+8+9+10)

1에서 10까지의 합 : 55

In [10]:
#2.7
print('10! =',1*2*3*4*5*6*7*8*9*10)

10! = 3628800

In [19]:
#2.8
n = 2
a = 2
print('a    n    a ** n')
print(a,'  ',n,'  ',a ** n)
a = 3
print(a,'  ',n,'  ',a ** n)
a = 4
print(a,'  ',n,'  ',a ** n)
a = 5
print(a,'  ',n,'  ',a ** n)
a = 6
print(a,'  ',n,'  ',a ** n)

a    n    a ** n
2    2    4
3    2    9
4    2    16
5    2    25
6    2    36

In [28]:
#2.9
print('섭씨     화씨')
celsius = 0
fahrenheit = (9/5) * celsius + 32
print(celsius,'      ',fahrenheit)
celsius = 10
fahrenheit = (9/5) * celsius + 32
print(celsius,'     ',fahrenheit)
celsius = 20
fahrenheit = (9/5) * celsius + 32
print(celsius,'     ',fahrenheit)
celsius = 30
fahrenheit = (9/5) * celsius + 32
print(celsius,'     ',fahrenheit)
celsius = 40
fahrenheit = (9/5) * celsius + 32
print(celsius,'     ',fahrenheit)
celsius = 50
fahrenheit = (9/5) * celsius + 32
print(celsius,'     ',fahrenheit)

섭씨     화씨
0        32.0
10       50.0
20       68.0
30       86.0
40       104.0
50       122.0

In [31]:
#2.10
c = int(input('섭씨온도를 입력하세요 : '))
f = (9/5) * c + 32
print('섭씨',c,'도는 화씨',f,'도 입니다.')

섭씨온도를 입력하세요 : 30
섭씨 30 도는 화씨 86.0 도 입니다.

In [32]:
#2.11
f = int(input('화씨온도를 입력하세요 : '))
f = (9/5) * c + 32
print('화씨',f,'도는 섭씨',c,'도 입니다.')

화씨온도를 입력하세요 : 86
화씨 86.0 도는 섭씨 30 도 입니다.

In [54]:
#2.12
radius = 11
pi = 3.141592
C = 2 * pi * radius
A = pi * radius * radius
print('원의 반지름 = ',radius,', 원의 둘레 = ',C,', 원의 면적 = ',A,sep ='')

원의 반지름 = 11, 원의 둘레 = 69.115024, 원의 면적 = 380.13263200000006

In [55]:
#2.13
r = int(input('원의 반지름을 입력하세요 : '))
pi = 3.141592
C = 2 * pi * radius
A = pi * radius * radius
print('원의 둘레 = ',C,', 원의 면적 = ',A,sep ='')

원의 반지름을 입력하세요 : 11
원의 둘레 = 69.115024, 원의 면적 = 380.13263200000006

In [57]:
#2.14
print('2의 제곱근 =',2**0.5)
print('3의 제곱근 =',3**0.5)
print('4의 제곱근 =',4**0.5)
print('5의 제곱근 =',5**0.5)
print('6의 제곱근 =',6**0.5)
print('7의 제곱근 =',7**0.5)
print('8의 제곱근 =',8**0.5)
print('9의 제곱근 =',9**0.5)
print('10의 제곱근 =',10**0.5)

2의 제곱근 = 1.4142135623730951
3의 제곱근 = 1.7320508075688772
4의 제곱근 = 2.0
5의 제곱근 = 2.23606797749979
6의 제곱근 = 2.449489742783178
7의 제곱근 = 2.6457513110645907
8의 제곱근 = 2.8284271247461903
9의 제곱근 = 3.0
10의 제곱근 = 3.1622776601683795

In [64]:
#2.15
a = int(input('밑변을 입력하세요 : '))
b = int(input('높이을 입력하세요 : '))
c = (a**2 + b**2) ** 0.5
print('빗변 :',c)

밑변을 입력하세요 : 5
높이을 입력하세요 : 12
빗변 : 13.0

In [75]:
#2.16 (1)
a = 1+2j
print('회전하기 전 :',a)
print('90도 회전한 후 :',a*(0 + 1j))

회전하기 전 : (1+2j)
90도 회전한 후 : (-2+1j)

In [80]:
#2.16 (2)
a = 1+2j
print('회전하기 전 :',a)
print('30도 회전한 후 :',a*((3**0.5)/2 + 0.5j))

회전하기 전 : (1+2j)
30도 회전한 후 : (-0.1339745962155614+2.232050807568877j)

In [81]:
#2.17
print(2 << 0,2 << 1,2 << 2,2 << 3,2 << 4,2 << 5,2 << 6,2 << 7,2 << 8,2 << 9,)

2 4 8 16 32 64 128 256 512 1024

In [82]:
#2.18
n = int(input('정수를 입력하세요: '))
print('이 수가 짝수인가요?', n % 2 == 0)

정수를 입력하세요: 20
이 수가 짝수인가요? True

In [83]:
n = int(input('정수를 입력하세요: '))
print('이 수가 짝수인가요?', n % 2 == 0)

정수를 입력하세요: 21
이 수가 짝수인가요? False

In [89]:
#2.19
n = int(input('정수를 입력하세요 ; '))
print('입력된 정수는 0에서 100의 범위 안에 있는 짝수인가요?', (0 <= n <= 100) and (n % 2 == 0))
n = int(input('정수를 입력하세요 ; '))
print('입력된 정수는 0에서 100의 범위 안에 있는 짝수인가요?', (0 <= n <= 100) and (n % 2 == 0))

정수를 입력하세요 ; 120
입력된 정수는 0에서 100의 범위 안에 있는 짝수인가요? False
정수를 입력하세요 ; 88
입력된 정수는 0에서 100의 범위 안에 있는 짝수인가요? True

In [96]:
#2.20
print(bin(5),'&',bin(6),'=',bin(5 & 6))
print(bin(5),'|',bin(6),'=',bin(5 | 6))
print(bin(5),'^',bin(6),'=',bin(5 ^ 6))

0b101 & 0b110 = 0b100
0b101 | 0b110 = 0b111
0b101 ^ 0b110 = 0b11

In [97]:
#2.21
n = int(input('정수를 입력하시오 : '))
print(n,'의 2진수 값:',bin(n))
print(n,'의 2진수 값에 대한 비트단위 부정값 :',bin(~n))

정수를 입력하시오 : 9
9 의 2진수 값: 0b1001
9 의 2진수 값에 대한 비트단위 부정값 : -0b1010

In [98]:
#2.22
a = int(input('정수 a를 입력하시오 : '))
b = int(input('정수 b를 입력하시오 : '))
print('a / b의 몫 :',a // b)
print('a / b의 나머지 :',a % b)

정수 a를 입력하시오 : 202
정수 b를 입력하시오 : 50
a / b의 몫 : 4
a / b의 나머지 : 2

In [101]:
#2.23
n = int(input('세 자리 정수를 입력하시오 : '))
print('백의 자리 :', n // 100)
print('십의 자리 :', (n % 100) // 10)
print('일의 자리 :', n % 10)

세 자리 정수를 입력하시오 : 349
백의 자리 : 3
십의 자리 : 4
일의 자리 : 9

In [103]:
#2.24
n = int(input('세 자리 정수를 입력하시오 : '))
print(n % 10)
print((n % 100) // 10)
print(n // 100)

세 자리 정수를 입력하시오 : 349
9
4
3